body {
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
  padding: 36px 4%;
  background-color: #472d47;
  color: #9b889b;
}

@keyframes cursor-blink {
  0% {
    opacity: 0%;
  }
}

#cursor {
  display: inline-block;
  position: relative;
  top: 6px;
  left: 1px;
  height: 36px;
  margin-right: -1ch;
  color: #472d47;
  color: rgba(0, 0, 0, 0);
  background-color: #7CEA9C;
  animation: cursor-blink 1.5s steps(2) infinite;
}
